!!!
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
%head
  %meta(charset="utf-8")
  %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")

  %title gitfuuuu
  %meta(name="description" content="")
  %meta(name="author" content="")
  %meta(name="viewport" content="width=device-width, initial-scale=1.0")

  %link(rel="stylesheet" href="stylesheets/style.css")
  %link(rel="stylesheet" href="stylesheets/app.css")
  %link(rel="stylesheet" href="aristo/ui.css")

  %script(type="text/javascript" src="javascripts/libs/modernizr-1.7.min.js")
  %script{:type => 'text/javascript', :src => 'http://use.typekit.com/fhb0qqm.js'}
  :javascript
    try{Typekit.load();}catch(e){} 
%body
  #wrapper
    #container
      .panel
        .header
          %h1
            %a{:href=>"/"} 
              git
              %span fuuuu
          %h2 A GitHub curse word analyzer
        %form
          %input{:name => "repo", :placeholder=> "What repository to analyze", :class=>"input-text", :type => "text"}/

      .results
        %a#back{:href => "#"}
        %h1
        %h2    
        %h3.none 
          Sorry, this repo has a
          %em clean
          mouth.
        #plot
        %ol.commits

      #footer
        %a{:href=>"http://brousalis.com"} made by pete
  = partial :'partials/javascripts'
